/* ne bakıyon gardas kodlara kapa  */
#ilk {
  color: rgb(255, 255, 255);
  background: black;
  font-size: 48px;
  width: fit-content;
}

#aboutme {
  color: whitesmoke;
  background-color: brown;
}
div {
  color: whitesmoke;
  background-color: darkblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 2em;
}
.baslik {
  background-color: black;
  color: rgb(255, 255, 255);
  width: fit-content;
}
#indexbody {
  background: rgba(10, 50, 200, 0.5);
}
#aboutbody {
  background-color: rgba(95, 135, 35, 0.3);
}
a {
  color: black;
  text-decoration: none;
}
